<!-- Template driven form -->
<div class="row">
    <div class=" d-flex justify-content-center">
    <h4 style="text-align: center;">Add a new Post</h4>
    </div>
    <div class="d-flex justify-content-end">
    <button type="button" class="rounded-pill btn btn-outline-info p-2" (click)="addPost()"><i class="bi bi-plus"></i></button>
    </div>
    </div>
<div class="container border mt-4">
  <form
    [formGroup]="ngForm"
    #form="ngForm"
    name="ngForm"
    class="form-group p-3"
    (ngSubmit)="onSubmit(form)"
  >
    <div class="row " >
       <!-- Category drop down -->
      <div class="form-group p-2 m-3">
        <label for="Id">Category: </label>
        <select
          [(ngModel)]="postsService.formData.CategoryId"
          name="CategoryId"
          id="CategoryId"
          class="form-control"
          #CategoryId="ngModel"
          required
        >
          <option value="0" selected disabled>Select Category...</option>
          <option
            *ngFor="let Category of postsService.categories"
            value="{{ Category.Id }}"
          >
            {{ Category.Name }}
          </option>
        </select>

        <!-- Validation -->
        <p
          *ngIf="CategoryId.touched && CategoryId.invalid"
          class="validation-error"
        >
          <span *ngIf="CategoryId.errors.required" style="color: crimson"
            >Category is required!</span
          >
        </p>
      </div>

      <div class="row" *ngFor="let post of posts().controls; let i=index" [formGroupName]="i">
        <hr>
      <!-- Post id Hidden -->
      <input
        type="hidden"
        name="PostId"
        [(ngModel)]="postsService.formData.PostId"
      />

      <!-- Title -->
      <div class="form-group col-6 ms-2">
        <label for="Title">Title: </label>
        <input
          type="text"
          class="form-control"
          name="Title"
          #Title="ngModel"
          [(ngModel)]="postsService.formData.Title"
          placeholder="Enter Title"
          required
          minlength="3"
          maxlength="25"
          [ngClass]="{
            'is-invalid': Title.touched && Title.invalid
          }"
        />

        <!-- Validation -->
        <p *ngIf="Title.touched && Title.invalid" class="validation-error">
          <span *ngIf="Title.errors.required" style="color: crimson"
            >Title is required!</span
          >
        </p>
      </div>

     
      <!-- Created date -->
      <div class="form-group col-5">
        <label for="CreatedDate">Created date: </label>
        <input
          type="date"
          class="form-control"
          name="CreatedDate"
          #CreatedDate="ngModel"
          [(ngModel)]="postsService.formData.CreatedDate"
          required
          [ngClass]="{
            'is-invalid': CreatedDate.touched && CreatedDate.invalid
          }"
        />

        <!-- Validation -->
        <p
          *ngIf="CreatedDate.touched && CreatedDate.invalid"
          class="validation-error"
        >
          <span *ngIf="CreatedDate.errors.required" style="color: crimson"
            >Date Of creation is required!</span
          >
        </p>
      </div>
    

    <!-- Description -->
    <div class="form-group m-3">
      <label for="Description">Description: </label>
      <textarea
      rows="4"
      type="text"
        class="form-control"
        name="Description"
        #Description="ngModel"
        [(ngModel)]="postsService.formData.Description"
        placeholder="Enter Description"
        required
        minlength="5"
        [ngClass]="{ 'is-invalid': Description.touched && Description.invalid }"
      ></textarea>

      <!-- Validation -->
      <p
        *ngIf="Description.touched && Description.invalid"
        class="validation-error"
      >
        <span *ngIf="Description.errors.required" style="color: crimson"
          >Description is required!</span
        >
      </p>
    <button type="button" class="rounded-pill btn btn-outline-danger float-end mt-3" (click)="deletePost(i)"><i class="bi bi-dash"></i></button>
    </div>
    </div> 
    </div> 

    <!-- Submit button -->
    <div class="form-group p-3">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!(form.valid && form.dirty)"
      >
        Submit
      </button>
    </div>
  </form>
</div>
